body {
    background-image: url('images/bgimg.avif'); 
    background-size: cover;
    background-position: center;
    height: 90vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f3ef85;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.content {
    background-image: linear-gradient(to right, rgb(238, 187, 205) ,grey, rgb(134, 230, 229)); 
    padding: 05px;
    border-radius: 10px;
}

h1 {
    font-family: cursive;
    font-size: 3em;
    margin-bottom: 20px;
}

p {
    color: #e9e9ad;
}

a {
    color: #e1d65d; 
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}

a:hover {
    color: #ea46df;
    font-size: 24px;
    font-family: cursive;
}
